<?xml version="1.0" ?>
<robot name="articulation" xmlns:xacro="http://www.ros.org/wiki/xacro" >

<material name="silver">
  <color rgba="0.700 0.700 0.700 1.000"/>
</material>

<material name="white">
  <color rgba="1.000 1.000 1.000 1.000"/>
</material>

<material name="gray">
  <color rgba="0.384 0.345 0.364 1.000"/> 
</material>

</robot>
